<header class="navbar">
    <div class="nav-links">
        <a href="#hero">MUSIC</a>
        <a href="#shows">SHOWS</a>
        <a href="#about">ABOUT</a>
        <a href="#contact">CONTACT</a>
    </div>
    <div class="nav-title">
        <h4>
            TEENAGE ART SCENE
        </h4>
    </div>
    <div class="nav-socials">
        <a href="https://open.spotify.com/artist/67y3Exu2lTpy9Vp4evxHEB?si=DwfJvpdgTnaz933TaHAd4w" target="_blank"><i class="fa-brands fa-spotify"></i></a>
        <a href="https://www.instagram.com/teenageartscene/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@teenageartscene?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.facebook.com/TeenageArtScene/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://music.apple.com/ca/artist/teenage-art-scene/1603443071" target="_blank"><i class="fa-brands fa-apple"></i></a>
        <a href="https://www.youtube.com/channel/UCcKqeLi7diQiJYDXIS-U2kA?sub_confirmation=1" target="_blank"><i class="fa-brands fa-youtube" ></i></a>
    </div>
    <div class="nav-hamburger">
       <button class="burger-button"><i class="fas fa-bars"></i></button>
    </div>  
    <dialog class="burger-popup">
        <div class="burger-items">
            <div class="burger-links">
            <a href="#hero"><button class="close-button-link">MUSIC</button></a>
            <a href="#shows"><button class="close-button-link">SHOWS</button></a>
            <a href="#about"><button class="close-button-link">ABOUT</button></a>
            <a href="#contact"><button class="close-button-link">CONTACT</button></a>
        </div>
        <div class="burger-socials">
             <a href="https://open.spotify.com/artist/67y3Exu2lTpy9Vp4evxHEB?si=DwfJvpdgTnaz933TaHAd4w" target="_blank"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.instagram.com/teenageartscene/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@teenageartscene?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.facebook.com/TeenageArtScene/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://music.apple.com/ca/artist/teenage-art-scene/1603443071" target="_blank"><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.youtube.com/channel/UCcKqeLi7diQiJYDXIS-U2kA?sub_confirmation=1" target="_blank"><i class="fa-brands fa-youtube" ></i></a>
        </div>  
        <button class="close-button"><i class="fa-solid fa-x"></i></button>
        </div>
    </dialog>
</header>
<script src="/scripts/burger.js"></script>