<footer class="socials">
    <div class="wrapper">
        <div class="socials-main">
            <div class="socials-links">
                <a href="">MUSIC</a>
                <a href="">SHOWS</a>
                <a href="">ABOUT</a>
                <a href="">CONTACT</a>
            </div>
            <div class="socials-socials">
                <a href="https://open.spotify.com/artist/67y3Exu2lTpy9Vp4evxHEB?si=DwfJvpdgTnaz933TaHAd4w" target="_blank"><i class="fa-brands fa-spotify"></i></a>
                <a href="https://www.instagram.com/silverware_band/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@silverware_band?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100092845976787#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://music.apple.com/us/artist/silverware/1688771856" target="_blank"><i class="fa-brands fa-apple"></i></a>
                <a href="https://www.youtube.com/@SILVERWARE_band" target="_blank"><i class="fa-brands fa-youtube" ></i></a>
            </div>
            <p>&copy; 2025 Jake Styles. All rights reserved.</p>
        </div>
    </div>
</footer>