<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teenage Art Scene Website</title>
</head>
<body>
    <main>
        <section class="test-container">
            <div class="wrapper">
                <h1>
                Teenage Art Scene Website
                </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quo hic a veniam magni nostrum quia amet in recusandae eos quod voluptate, iure suscipit ratione numquam cumque fugiat at quidem!</p>
            </div>
        </section>
    </main>
</body>
</html>