---
title: Teenage Art Scene | Official Website
layout: 'base.njk'
---
{% set hero = collections.hero | first %}
<section id="hero" class="hero-section" style="background-image: url('{{ hero.data.backgroundImage }}');"> 
    <div class="wrapper">
        <div class="hero-main">
            <div class="hero-feature">
                <h2>{{ hero.data.showcaseName }}</h2>
                <h4>{{ hero.data.showcaseDescription }}</h4>
                <div>
                    <a href="'{{ hero.data.showcaseLink }}'" target="_blank"><button class="default-button">Stream Here</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="shows" class="show-section">
    <div class="circle"></div>
    <div class="wrapper">
        <div class="shows-main">
            <h2>UPCOMING SHOWS</h2>
            {% for show in collections.show %}
                <div class="show-item"> 
                    <div class="show-details">
                        <h4>{{ show.data.title }}</h4>
                        <p>{{ show.date | showDate }}</p>
                    </div>
                    <div class="show-address">
                        <p>{{ show.data.address }}</p>
                    </div>
                    {% if show.data.link %}
                        <button class="default-button">
                            Buy Tickets
                        </button>
                    {% else %}
                        <button class="none-button">
                            Not Available
                        </button>
                    {% endif %}
                </div>
                <hr class="show-sep">
            {% endfor %}
        </div>
    </div>
</section>

{% set about = collections.about | first %}
<section id="about" class="about-section" style="background-image: url('{{ about.data.backgroundImage }}');">
    <div class="wrapper">
        <div class="about-main">
            <div class="about-image">
                <img src="{{ about.data.showcaseImage }}" alt="">
            </div>
            <div class="about-info">
                <h2>{{ about.data.title }}</h2>
                <p>
                    {{ about.content | safe }}
                </p>
                <button class="default-button">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</section>

 <section id="contact" class="contact-main">
    <div class="wrapper">
        <div class="contact-items">
            <h2>GET IN TOUCH</h2>
            <form class="form" action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="79e03819-e80d-4adc-a80a-c6b2c9830a39">
                <input class="contact-form-item" type="text" name="name" placeholder="Name" required>
                <input class="contact-form-item" type="email" name="email" placeholder="Email" required>
                <input class="contact-form-item" type="text" name="phone" placeholder="Phone Number" required>
                <textarea class="contact-form-item" name="message" rows="4" placeholder="Whats up?"></textarea> 
                <button class="default-button" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>