.about-section {
    padding-block: 15rem;
    background-position: center 60%;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.2) 100%
            ),
            linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.2) 100%
            );
        z-index: 1;
    }

    @media screen and (width < 1000px) {
        padding-block: 15rem;
        background-attachment: scroll;
    }
}

.about-main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    text-align: start;
    flex-wrap: wrap;

    z-index: 2;
    & p {
        color: var(--color-white);
        max-width: 50ch;
        z-index: 2;
    }

    & h2 {
        z-index: 2;
    }

    @media screen and (width < 1200px) {
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    & img {
        width: 30rem;
        object-fit: cover;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (width < 1200px) {
        align-items: center;
    }
}