.burger-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--color-alt);
    border: none;
    width: 100%;
    height: 100vh;

    & :is(a, i) {
        color: var(--color-white);
    }
}

.burger-items {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-size: var(--font-300);
}

.burger-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-brand);
    gap: 3rem;

    & a {
        text-decoration: none;
    }
}

.close-button {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    top: 0;
    right: 0;
}

.close-button-link {
    background-color: var(--color-white);
    outline: none;
    border: none;
    padding: 0.5rem;
    top: 0;
    right: 0;
}

.burger-popup::backdrop {
   background-color: var(--color-alt);
   filter: sepia(100%) hue-rotate(190deg) saturate(300%);
}

.burger-popup:not([open]) {
    display: none !important;
}

.burger-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & i {
        font-size: var(--font-300);
    }
    
}

