.contact-main {
    padding-block: 5rem;
}

.contact-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;

    & h2 {
        z-index: 2;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    & .contact-form-item {
        width: min(50rem, 90%);
        padding: 1em;
        background-color: white;
        border: none;
        outline: none;
    }

    & .contact-form-item:hover {
        width: min(50rem, 100%);
        padding: 1em;
        background-color: white;
        border: none;
        outline: none;
    }
}