.gallery-main {
    display: block;
}

.gallery-items {
    padding-inline: 4rem;
    padding-block: 5rem;
    margin-inline: auto;
    column-count: 3;
    column-gap: 1rem;

    @media screen and (width < 1000px) {
        column-count: 2;
        padding-inline: 0;
        padding-block: 2rem;
    }
}

.gallery-items img {
    width: 100%;
    break-inside: avoid;
}