.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    & h1 {
        color: white;
    }

    @media screen and (width < 1024px) {
        justify-content: center;
        padding-bottom: 1rem;
        background-attachment: scroll;
    }

    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 1) 100%
        );
        z-index: 1;
    }
}

.hero-main {
    @media screen and (width < 950px) {
        display: flex;
        justify-content: center;
    }
}

.hero-feature {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 1;
    width: min(40rem, 100%);
    padding: 1rem;
    z-index: 2;
    @media screen and (width < 950px) {
        align-items: center;
        text-align: center;
    }
}

.hero-feature :is(h2, h4) {
    -webkit-text-stroke: 1px black;
}