.show-section {
    position: relative;
    overflow: hidden;
    background-color: var(--color-black);
    padding-block: 5rem;
}

.shows-main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (width < 1000px) {
        text-align: center;
    }
    z-index: 1;
}

.show-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (width < 950px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
}

.show-item :is(h4, h5, p) {
    color: var(--color-white);
}

.show-sep {
    width: 100%;
    height: 0;
    border: none;
    border-top: 2px dashed var(--color-white);
    margin: 2rem auto;
}

.show-details {
    flex: 1; 
}

.show-address {
    flex: 1; 
    text-align: start; 

    @media screen and (width < 600px) {
        text-align: center;
    }
}

.show-button {
    flex-shrink: 0; 
}