.socials {
    position: relative;
    padding-block: 5rem;
    filter: sepia(100%) hue-rotate(190deg) saturate(300%);
}

.socials::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    background-color: purple;

    /* Mask-related */
    mask-image: url("/assets/images/triangle.svg"); 
    mask-repeat: repeat-x;                          
    mask-position: top;                              
    mask-size: 60px 20px;                           
}

.socials-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & p {
        color: var(--color-alt);
        font-size: var(--font-25);
    }
}

.socials-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socials-socials i {
    color: var(--color-white);
    font-size: var(--font-200);
    scale: 1;
    transition: scale ease-in-out 50ms;
}

.socials-socials i:hover {
    scale: 1.4;
}

.socials-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    & a {
        text-decoration: none;
        font-weight: 700;
        color: white;
    }
}