*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p, li, figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

header, footer, main, section {
    container-type: inline-size;
}

img, svg, video, picture {
    height: auto;
    max-width: 100%;

}

